.light {
  color: var(--primary);
  border: 1px solid var(--grey);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.dark {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.light:hover {
  border: 1px solid var(--primary);
}

.dark:hover {
  background: var(--primaryLight);
  color: var(--primary);
}
