.container {
  padding: 20px 40px;
  border-bottom: 1px solid var(--grey);
  display: flex;
  gap: 40px;
}

.brand {
  font-weight: 800;
  font-size: var(--font125);
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navLink {
  font-weight: 400;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  transition: 0.25s ease-in-out;
  border-radius: 5px;
}

.navLink:hover {
  background: var(--primaryLight);
  color: var(--primary);
}

.navButtons {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.menu {
  display: none;
  margin: auto;
  margin-right: auto;
  margin-right: 0;
  font-size: var(--font15);
}

.menuContainer {
  display: flex;
  flex: auto;
}

@media only screen and (max-width: 480px) {
  .container {
    gap: 0px;
    padding: 5px;
    position: relative;
  }

  .navLinks {
    gap: 0px;
    flex-direction: column;
    align-items: left;
  }

  .navLink {
    padding: 0;
  }

  .navButtons {
    flex-direction: column;
    margin: auto;
    gap: 10px;
  }

  .menu {
    display: flex;
  }

  .menuContainer {
    position: absolute;
    flex-direction: column;
    background: var(--light);
    width: 100%;
    left: 0;
    top: 100%;
    padding: 10px;
    z-index: 10;
    box-shadow: 5px 5px 10px var(--grey);
    display: none;
  }

  .menuOpen {
    display: flex;
  }
}
